.chat-frame {
    display: flex;
    flex-direction: column;
    height: 80vh;
    max-width: 800px;
    width:100%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Chat Messages Area */
.chat-messages {
    flex: 1;
    padding: 10px 15px;
    overflow-y: auto;
    gap: 8px;
}

/* Individual Chat Message */
.chat-message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 12px;
    max-width: 30%;
    word-wrap: break-word;
}

    /* My messages styling */
    .chat-message.my-message {
        background-color: rgba(0, 0, 0, 0.05);
        color: var(--text-color);
        margin-left: auto;
    }

    /* Other user's messages styling */
    .chat-message.other-user-message {
        background-color: rgba(0, 0, 0, 0.05);
        color: var(--other-user-text-color);
        margin-right: auto;
    }


body.dark-mode .chat-message.my-message {
    background-color: rgba(255, 255, 255, 0.1);
}

body.dark-mode .chat-message.other-user-message {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Chat Input */
.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
    background-color: var(--background-color);}

    .chat-input input {
        flex: 1;
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
        color: var(--text-color);
        background-color: var(--background-color);
    }

    .chat-input button {
        margin-left: 10px;
        padding: 8px 16px;
        border: none;
        background-color: #0078d4;
        color: white;
        border-radius: 20px;
        cursor: pointer;
    }

        .chat-input button:hover {
            background-color: #005a9e;
        }