@inherits MainLayout

<div>
    <Header />
    <div class="content-wrapper">
        <section>
            @Body
        </section>

        <aside>
            <p>Active Users</p>
        </aside>
    </div>
    <ThemeToggle />
    <Footer />
</div>

@code {

}
