@inherits MainLayout

<HeadContent>
    <link rel="stylesheet" href="css/app.css" />
</HeadContent>

<div>
    <Header />
    <div class="content-wrapper">
        <section>
            @Body
        </section>

        <aside>            
            <ListOfUsers />
        </aside>
    </div>
    <ThemeToggle />
    <Footer />
</div>

@code {

}
