:root {
    --background-color: white;
    --text-color: black;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

    body.dark-mode {
        --background-color: black;
        --text-color: #ffffff;
    }

.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.content-wrapper {
    display: flex;
    flex: 1;
}

    .content-wrapper section {
        flex: 1;
        padding: 20px;
    }

    .content-wrapper aside {
        width: 150px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 20px;
    }