:root {
    --background-color: white;
    --text-color: black;
    --my-text-color: black;
    --other-user-text-color: rgba(100, 200, 200, 1);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

    body.dark-mode {
        --background-color: black;
        --text-color: #ffffff;
    }

.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/*/* === Layout Wrapper === */
.content-wrapper {
    display: flex;
    gap: 20px; 
    padding: 20px;
}

    .content-wrapper section {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .content-wrapper aside {
        width: 250px;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        background-color: rgba(255, 255, 255, 0.1);
    }